.App {
  text-align: center;
}

.edit-options {
  display: flex;
  gap: 10px;
}

.options {
  cursor: pointer;
}

.input-span {
  flex: 1;
}

input {
  width: 50%;
  height: 25px;
  float: left;
  border: none;
  padding: 0 1px;
  background-color: var(--input-primaryColor);
  transition: all 1s;
}
input:focus {
  width: 95%;
}
